* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #fff;
    background-color: #1f2029;
}

.warper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: block;
    width: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
}

.heading_1 {
    font-weight: 400;
    font-size: 16px;
}

.heading_2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

.price {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px;
}

.price span {
    text-decoration: line-through;
    font-size: 20px;
    opacity: 0.6;
    padding-left: 15px;
}

.heading_3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}

.desc_section {
    position: relative;
    width: 100%;
    display: block;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    visibility: hidden;
}

.color_btn:checked+label,
.color_btn:not(:checked)+label {
    height: 40px;
    width: 40px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #ffeba7;
    margin-right: 10px;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
    background-position: center;
    background-size: cover;
    border: 3px solid transparent;
    position: relative;
    transition: all 200ms linear;
    z-index: 10;
}

.color_btn:checked+label {
    border-color: #434343;
    background-color: #fff;
    transform: scale(1.1);
}

label.first-color {
    margin-left: 500px;
    background-image: url("/assets/color1.jpg");
}

label.color-2 {
    background-image: url("/assets/color2.jpg");
}

label.color-3 {
    background-image: url("/assets/color3.jpg");
}

label.color-4 {
    background-image: url("/assets/color4.jpg");
}

label.color-5 {
    background-image: url("/assets/color5.jpg");
}

label.color-6 {
    background-image: url("/assets/color6.jpg");
}

.chair {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 500px;
    height: 410px;
    display: inline-block;
    z-index: 9;
    transition: all 550ms linear;
    transition-delay: 100ms;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/assets/chair1.png");
    opacity: 0;
}

.color_btn_1:checked~.chair.chair_1 {
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.color_btn_2:checked~.chair.chair_2 {
    background-image: url("/assets/chair2.png");
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.color_btn_3:checked~.chair.chair_3 {
    background-image: url("/assets/chair3.png");
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.color_btn_4:checked~.chair.chair_4 {
    background-image: url("/assets/chair4.png");
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.color_btn_5:checked~.chair.chair_5 {
    background-image: url("/assets/chair5.png");
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.color_btn_6:checked~.chair.chair_6 {
    background-image: url("/assets/chair6.png");
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0) rotate(-1deg);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0) rotate(2deg);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-3px, 0, 0) rotate(-3deg);
    }

    40%,
    60% {
        transform: translate3d(3px, 0, 0) rotate(3deg);
    }
}

.background_color {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 250ms linear;
    transition-delay: 300ms;
    z-index: 1;
    opacity: 0;
}

.color_btn_1:checked~.background_color_1 {
    background-image: linear-gradient(196deg, #f1a9a9, #e66767);
    opacity: 1;
}

.color_btn_2:checked~.background_color.background_color_2 {
    background-image: linear-gradient(196deg, #4c4c4c, #262626);
    opacity: 1;
}

.color_btn_3:checked~.background_color.background_color_3 {
    background-image: linear-gradient(196deg, #8a9fb2, #5f7991);
    opacity: 1;
}

.color_btn_4:checked~.background_color.background_color_4 {
    background-image: linear-gradient(196deg, #97afc3, #6789a7);
    opacity: 1;
}

.color_btn_5:checked~.background_color.background_color_5 {
    background-image: linear-gradient(196deg, #afa6a0, #8c7f76);
    opacity: 1;
}

.color_btn_6:checked~.background_color.background_color_6 {
    background-image: linear-gradient(196deg, #afa6a0, #8c7f76);
    opacity: 1;
}

.info_section {
    position: relative;
    margin-left: 500px;
    z-index: 10;
}

.desc-btn:checked+label,
.desc-btn:not(:checked)+label {
    position: relative;
    transition: all 200ms linear;
    display: inline-block;
    border: none;
    cursor: pointer;
    color: #ffeba7;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    margin-right: 25px;
    opacity: 0.5;
}

.desc-btn:checked+label {
    opacity: 1;
}

.desc-btn:not(:checked)+label:hover {
    opacity: 0.8;
}

.desc_detail {
    padding-top: 20px;
    padding-bottom: 30px;
    transition: all 250ms linear;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
}

.desc_detail.detail_2 {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 2;
}

#desc-1:checked~.desc_detail.detail_1 {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

#desc-2:checked~.desc_detail.detail_2 {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.desc_detail.detail_sec {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.detail_detail_sec p span {
    font-size: 30px;
    line-height: 1.1;
}

.detail_1 p {
    font-size: 18px;
}

.cart_btn {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    height: 48px;
    border-radius: 4px;
    width: 210px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    color: #fff;
    box-shadow: 0 6px 15px 0 rgba(16, 39, 112, 0.15);
    transition: all 250ms linear;
    text-decoration: none;
    margin-top: 100px;
    z-index: 2;
    left: 50%;
}

.icon {
    padding-right: 7px;
    font-size: 20px;
}

.cart_btn:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -2;
    background-color: #944852;
}

.cart_btn:hover {
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
    /* not working */
    background-color: #1f2029;
}

.color_btn_2:checked~.add_btn .cart_btn:before {
    background-color: #1a1a1a;
}

.color_btn_3:checked~.add_btn .cart_btn:before {
    background-color: #40566e;
}

.color_btn_4:checked~.add_btn .cart_btn:before {
    background-color: #5e89b2;
}

.color_btn_5:checked~.add_btn .cart_btn:before {
    background-color: #8c7f76;
}

.color_btn_6:checked~.add_btn .cart_btn:before {
    background-color: #5d6160;
}